<header>
	<h1>CLydE</h1>
</header>

<ul class="grid">
	<li class="light-fader box wide">
		<h3>Light Fader</h3>
		<ul class="sliders">
			<li class="slider brightness far-right">
				<span class="label">Brightness</span>
				<div class="slider-input" id="brightness-slider"></div>
			</li>
			<li class="slider duration far-left">
				<span class="label">Fade Duration</span>
				<div class="slider-input" id="duration-slider"></div>
			</li>
		</ul>
	</li>

	<li class="blinds box closed">
		<div class="icon">
			<span class="open">✓</span>
			<span class="closed">✗</span>
		</div>
		<span class="label">
			<span class="open">Open Blinds</span>
			<span class="closed">Close Blinds</span>
		</span>
	</li>

	<li class="lightswitch box on">
		<div class="icon">
			<span class="on">✓</span>
			<span class="off">✗</span>
		</div>
		<span class="label">
			<span class="on">Lightswitch On</span>
			<span class="off">Lightswitch Off</span>
		</span>
	</li>

	<li class="motion-sensor box yes">
		<div class="icon">
			<span class="yes">Motion</span>
			<span class="no">No Motion</span>
		</div>
		<span class="label">
			<span class="yes">Motion for 15min</span>
			<span class="no">Last Sensed 30min Ago</span>
		</span>
	</li>

	<li class="force-wake box">
		<div class="icon">
			<span class="logo">WAKE</span>
		</div>
		<span class="label">Force Wake</span>
	</li>
</ul>