<header>
	<h1>Wake</h1>
</header>

<ul class="calendar">
	<li class="title">
		<div class="prev"><div class="arrow left"></div></div>
		<h3>Tuesday, January 3rd</h3>
		<div class="next"><div class="arrow right"></div></div>
	</li>
	<li class="event">
		<div class="time">6:30am</div>
		<div class="desc">Take Kylee to school early for Tahoe field trip.</div>
	</li>
	<li class="event">
		<div class="time">9:00am</div>
		<div class="desc">Be home for the plumber</div>
	</li>
</ul>

<div id="time-selector">

	<div class="backboard">
		<div class="left"></div>
		<div class="right"></div>
	</div>

	<div class="extra-annoying-line"></div>
	<div class="gradient-thing-top"></div>
	<div class="gradient-thing-bottom"></div>
</div>

<footer>
	<div class="toggle-awake">
		<span class="label">Slide to Sleep</span>
		<div class="toggle"></div>
	</div>
	<div class="toggle-asleep">
		<span class="label">Force Wake</span>
		<div class="toggle"></div>
	</div>
</footer>